<a href="https://colab.research.google.com/github/shravanipidurkar/shravani-google-colab/blob/main/347_MSEpractical.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**MSE PRACTICAL EXAM**

In [ ]:
sem1=[]
sem2=[]
sem3=[]
sem4=[]
sem5=[]
college_code=[]
gender={}

fp1=open("/content/result1.csv","r")
data=fp1.readline()

while(True):

  data=fp1.readline()
  if not data:
    break;
  temp=data.split(",")
  sem1.append(temp[0])
  sem2.append(temp[1])
  sem3.append(temp[2])
  sem4.append(temp[3])
  sem5.append(temp[4])
  college_code.append(temp[5])
  gender.update({temp[5]:temp[6]})
fp1.close()

frequency={}
#1.highest score in 5th sem
for item in sem5:
  if item in frequency:
    frequency[item] +=1
  else:
    frequency[item] =1
print("Frequency",frequency)
marklist = sorted(frequency.items(), key=lambda x:x[1])
sortdict = dict(marklist)
print("Sorted Data",sortdict)
print("The highest score in 5th Sem ", list(sortdict.keys())[0])

frequency={}
#2.Lowest score in 1th sem
for item in sem1:
  if item in frequency:
    frequency[item] +=1
  else:
    frequency[item] =1
print(frequency)
marklist = sorted(frequency.items(), key=lambda x:x[1], reverse=True)
sortdict = dict(marklist)
print("Sorted Data",sortdict)
print("The lowest score in 1th Sem ", list(sortdict.keys())[0])

frequency={}
#3.average score in 2th sem
for item in sem2:
  if item in frequency:
    frequency[item] +=1
  else:
    frequency[item] =1
marklist = sorted(frequency.items(), key=lambda x:x[1], reverse=True)
sortdict = dict(marklist)
sortdict = {float(i):j for i,j in sortdict.items()}
print("Sorted Data",sortdict)
print("The average score in 2th Sem ", sum(list(sortdict.keys()))/len(list(sortdict.keys())))

#4.female students & 5.male students
from collections import Counter
counter = dict(Counter(gender))
names=list(counter.keys())
print(names)
male=0
female=0

for name in names:
  if gender[name]=="Male\n":
    male=male+1
  elif gender[name]=="Female\n":
    female+=1
#4.the number of female students
print("Total number of Female=", female)
#5.the number of male students
print("Total number of Male=", male)

Frequency {'8.18': 1, '4.96': 1, '7.75': 1, '6.89': 2, '7.46': 1, '7.39': 1, '7.64': 2, '6.75': 2, '8': 1, '6.18': 1, '8.11': 1, '6.39': 1, '7': 1, '6.86': 1, '6.36': 1, '7.29': 1, '6.61': 1, '8.46': 1, '7.32': 1, '6.25': 1, '8.93': 1, '8.21': 1, '7.54': 1, '8.36': 1, '9': 1, '7.86': 2, '7.61': 1, '8.5': 1, '8.82': 1, '8.75': 1}
Sorted Data {'8.18': 1, '4.96': 1, '7.75': 1, '7.46': 1, '7.39': 1, '8': 1, '6.18': 1, '8.11': 1, '6.39': 1, '7': 1, '6.86': 1, '6.36': 1, '7.29': 1, '6.61': 1, '8.46': 1, '7.32': 1, '6.25': 1, '8.93': 1, '8.21': 1, '7.54': 1, '8.36': 1, '9': 1, '7.61': 1, '8.5': 1, '8.82': 1, '8.75': 1, '6.89': 2, '7.64': 2, '6.75': 2, '7.86': 2}
The highest score in 5th Sem  8.18
{'8.11': 1, '6.48': 1, '8.41': 1, '7.33': 3, '7.89': 3, '7.15': 1, '6.74': 1, '7.3': 1, '8': 1, '6.78': 1, '5.67': 1, '6.33': 1, '6.44': 1, '6.3': 1, '6.96': 1, '6.7': 1, '7.41': 1, '7.04': 1, '6.63': 1, '8.33': 1, '7.96': 1, '6.89': 1, '8.19': 1, '8.22': 1, '7.44': 1, '5.74': 1, '6.81': 1, '8.89': 1, '8.04': 1, '8.3': 1}
Sorted Data {'7.33': 3, '7.89': 3, '8.11': 1, '6.48': 1, '8.41': 1, '7.15': 1, '6.74': 1, '7.3': 1, '8': 1, '6.78': 1, '5.67': 1, '6.33': 1, '6.44': 1, '6.3': 1, '6.96': 1, '6.7': 1, '7.41': 1, '7.04': 1, '6.63': 1, '8.33': 1, '7.96': 1, '6.89': 1, '8.19': 1, '8.22': 1, '7.44': 1, '5.74': 1, '6.81': 1, '8.89': 1, '8.04': 1, '8.3': 1}
The lowest score in 1th Sem  7.33
Sorted Data {6.72: 2, 5.62: 2, 6.45: 2, 8.17: 2, 7.59: 2, 7.68: 1, 5.9: 1, 8.24: 1, 6.83: 1, 7.34: 1, 6.38: 1, 7.45: 1, 6.34: 1, 7.9: 1, 4.28: 1, 6.41: 1, 6.21: 1, 6.17: 1, 6.14: 1, 6.93: 1, 6.31: 1, 8.72: 1, 7.93: 1, 5.55: 1, 6.69: 1, 6.55: 1, 6.79: 1, 8.31: 1, 8.38: 1}
The average score in 2th Sem  6.895862068965518
['112', '115', '114', '111', '113']
Total number of Female= 1
Total number of Male= 4

In [ ]:
frequency={}
#2.Lowest score in 1th sem
for item in sem1:
  if item in frequency:
    frequency[item] +=1
  else:
    frequency[item] =1
print(frequency)
marklist = sorted(frequency.items(), key=lambda x:x[1], reverse=True)
sortdict = dict(marklist)
print("Sorted Data",sortdict)
print("The lowest score in 1th Sem ", list(sortdict.keys())[0])

{'8.11': 1, '6.48': 1, '8.41': 1, '7.33': 3, '7.89': 3, '7.15': 1, '6.74': 1, '7.3': 1, '8': 1, '6.78': 1, '5.67': 1, '6.33': 1, '6.44': 1, '6.3': 1, '6.96': 1, '6.7': 1, '7.41': 1, '7.04': 1, '6.63': 1, '8.33': 1, '7.96': 1, '6.89': 1, '8.19': 1, '8.22': 1, '7.44': 1, '5.74': 1, '6.81': 1, '8.89': 1, '8.04': 1, '8.3': 1}
Sorted Data {'7.33': 3, '7.89': 3, '8.11': 1, '6.48': 1, '8.41': 1, '7.15': 1, '6.74': 1, '7.3': 1, '8': 1, '6.78': 1, '5.67': 1, '6.33': 1, '6.44': 1, '6.3': 1, '6.96': 1, '6.7': 1, '7.41': 1, '7.04': 1, '6.63': 1, '8.33': 1, '7.96': 1, '6.89': 1, '8.19': 1, '8.22': 1, '7.44': 1, '5.74': 1, '6.81': 1, '8.89': 1, '8.04': 1, '8.3': 1}
The lowest score in 1th Sem  7.33

In [ ]:
from collections import Counter
counter = dict(Counter(gender))
names=list(counter.keys())
print(names)
male=0
female=0

for name in names:
  if gender[name]=="Male\n":
    male=male+1
  elif gender[name]=="Female\n":
    female+=1
#4.the number of female students
print("Total number of Female=", female)
#5.the number of male students
print("Total number of Male=", male)

['112', '115', '114', '111', '113']
Total number of Female= 1
Total number of Male= 4

In [ ]:
frequency={}
#3.average score in 2th sem
for item in sem2:
  if item in frequency:
    frequency[item] +=1
  else:
    frequency[item] =1
marklist = sorted(frequency.items(), key=lambda x:x[1], reverse=True)
sortdict = dict(marklist)
sortdict = {float(i):j for i,j in sortdict.items()}
print("Sorted Data",sortdict)
print("The average score in 2th Sem ", sum(list(sortdict.keys()))/len(list(sortdict.keys())))

Sorted Data {6.72: 2, 5.62: 2, 6.45: 2, 8.17: 2, 7.59: 2, 7.68: 1, 5.9: 1, 8.24: 1, 6.83: 1, 7.34: 1, 6.38: 1, 7.45: 1, 6.34: 1, 7.9: 1, 4.28: 1, 6.41: 1, 6.21: 1, 6.17: 1, 6.14: 1, 6.93: 1, 6.31: 1, 8.72: 1, 7.93: 1, 5.55: 1, 6.69: 1, 6.55: 1, 6.79: 1, 8.31: 1, 8.38: 1}
The average score in 2th Sem  6.895862068965518