<a href="https://colab.research.google.com/github/shravanipidurkar/shravani-google-colab/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
#conversion to DataFrames
mydataset = {
    'Batch':["C1","C2","C3","C4"],
    'Strenth':[21,19,21,23]
}
df=pd.DataFrame(mydataset)
print(df)

  Batch  Strenth
0    C1       21
1    C2       19
2    C3       21
3    C4       23

In [ ]:
#conversion to series
import pandas as pd
a=[10,20,70]
myvar = pd.Series(a)
print(myvar)

0    10
1    20
2    70
dtype: int64

In [ ]:
#converting to series with different index
#with the *index* argument, you can name your own index
import pandas as pd
a=[1,2,3,4,5,6]
myvar = pd.Series(a,index=["m","n","o","p","q","r"])
print(myvar)

m    1
n    2
o    3
p    4
q    5
r    6
dtype: int64

In [ ]:
#dictionary to series
import pandas as pd
result={"SIC":55,"AM":60,"EDS":66}
sr=pd.Series(result)
print(sr)

SIC    55
AM     60
EDS    66
dtype: int64

In [ ]:
#dictionary to series with particular inddex
import pandas as pd
result={"SIC":55,"AM":60,"EDS":66}
sr=pd.Series(result,index=["SIC","EDS"])
print(sr)

SIC    55
EDS    66
dtype: int64

In [ ]:
import pandas as pd
data ={
    "Course": ["SIC","DT","EDS","ENG"],
    "Credits": [4,3,4,2]
}
#load data into a DdatFrame object:
df = pd.DataFrame(data)
print(df)

  Course  Credits
0    SIC        4
1     DT        3
2    EDS        4
3    ENG        2

Pandas use the loc attribute to return one or more specified rows

In [ ]:
print(df.loc[0])

Course     SIC
Credits      4
Name: 0, dtype: object

In [ ]:
print(df.loc[[1,2]])

  Course  Credits
1     DT        3
2    EDS        4

In [ ]:
import pandas as pd
df= pd.read_csv('/content/coffee.csv')
print(df)

               Country of Origin  Number of Bags Bag Weight  Aroma  Flavor  \
0                       Colombia               1      35 kg   8.58    8.50
1                         Taiwan               1      80 kg   8.50    8.50
2                           Laos              19      25 kg   8.33    8.42
3                     Costa Rica               1      22 kg   8.08    8.17
4                       Colombia               2      24 kg   8.33    8.33
5                      Guatemala               5      30 kg   8.33    8.33
6                         Taiwan               1      27 kg   8.33    8.17
7                         Taiwan               1      90 kg   8.25    8.25
8                         Taiwan               1      30 kg   8.08    8.08
9   Tanzania, United Republic Of             320      60 kg   8.08    8.17
10                      Ethiopia              10      30 kg   8.08    8.25
11                     Guatemala               5      15 kg   8.08    8.00
12                        Taiwan               1      60 kg   8.08    8.00
13                      Ethiopia              40      60 kg   7.67    8.17
14                      Colombia              70      35 kg   8.08    8.00
15                        Taiwan               1      60 kg   8.17    8.08
16                      Ethiopia               8       5 kg   8.17    8.08
17                        Taiwan               5       2 kg   8.00    8.17
18                        Taiwan               8       1 kg   8.08    8.17
19  Tanzania, United Republic Of             200      30 kg   8.17    8.00
20                     Guatemala               8      30 kg   8.00    7.92
21                        Taiwan               1      20 kg   8.08    8.00
22                      Thailand               2       1 kg   7.67    8.00
23                      Colombia               6       5 kg   8.08    8.00
24                        Taiwan               4      50 kg   7.83    8.00
25                        Brazil              25      60 kg   7.83    8.08
26                        Taiwan               1     100 kg   7.92    7.92
27                        Taiwan               1      90 kg   8.17    8.08
28                        Taiwan               1      85 kg   8.00    8.00
29        United States (Hawaii)              80      15 kg   8.00    7.92
30                        Taiwan               3      48 kg   8.00    8.00
31                        Taiwan               3      50 kg   7.92    8.00
32                        Taiwan               4       5 kg   8.08    8.17
33                      Ethiopia             320      60 kg   7.67    7.83

    Aftertaste  Acidity  Balance  Sweetness  Moisture Percentage  \
0         8.42     8.58     8.42         10                 11.8
1         7.92     8.00     8.25         10                 10.5
2         8.08     8.17     8.17         10                 10.4
3         8.17     8.25     8.08         10                 11.8
4         8.08     8.25     7.92         10                 11.6
5         8.25     7.83     8.17         10                 10.7
6         8.08     8.00     8.25         10                  9.1
7         8.17     8.00     8.08         10                 10.0
8         8.25     8.08     8.00         10                 10.8
9         8.08     8.17     8.00         10                 11.0
10        8.00     8.08     7.92         10                 11.8
11        8.00     7.75     8.17         10                 11.5
12        8.08     8.08     8.00         10                 11.9
13        8.00     8.33     8.00         10                 11.6
14        8.08     7.92     8.00         10                 10.6
15        8.00     7.92     7.92         10                 10.2
16        7.92     8.17     7.92         10                 11.3
17        8.00     7.92     7.92         10                 10.3
18        7.75     7.92     8.00         10                 11.0
19        7.92     7.92     7.75         10                 10.0
20        8.08     7.92     8.00         10                 11.6
21        7.92     7.92     7.83         10                 10.4
22        7.83     8.00     8.00         10                  9.8
23        7.83     8.17     7.83         10                 11.3
24        7.92     8.00     7.92         10                 10.6
25        7.83     7.92     7.83         10                 11.3
26        8.00     7.92     7.92         10                  9.1
27        7.92     8.00     7.83         10                 10.6
28        8.00     7.92     7.92         10                 10.2
29        8.00     7.83     8.00         10                  9.3
30        7.83     7.83     7.92         10                 11.4
31        7.83     7.92     7.83         10                 10.8
32        7.67     7.83     7.92         10                 11.3
33        7.83     8.00     8.00         10                  9.9

            Color  Category Two Defects
0           green                     3
1      blue-green                     0
2       yellowish                     2
3           green                     0
4    yellow-green                     2
5           green                     2
6           green                     0
7    yellow green                     1
8        greenish                     0
9        greenish                     0
10       greenish                     1
11       brownish                     1
12          green                     0
13  yellow- green                     2
14          green                     0
15          green                     0
16          green                     2
17   yellow-green                     0
18       brownish                     1
19       greenish                     0
20      yellowish                     0
21          green                     0
22  browish-green                     5
23       brownish                     2
24   bluish-green                     0
25          green                     3
26          green                     2
27          green                     0
28     blue-green                     0
29          green                     0
30   bluish-green                     0
31          green                     0
32          green                     0
33          green                     3

In [ ]:
#to_string method used to print all the data in the file
import pandas as pd
df= pd.read_csv('/content/coffee.csv')
print(df.to_string())

               Country of Origin  Number of Bags Bag Weight  Aroma  Flavor  Aftertaste  Acidity  Balance  Sweetness  Moisture Percentage          Color  Category Two Defects
0                       Colombia               1      35 kg   8.58    8.50        8.42     8.58     8.42         10                 11.8          green                     3
1                         Taiwan               1      80 kg   8.50    8.50        7.92     8.00     8.25         10                 10.5     blue-green                     0
2                           Laos              19      25 kg   8.33    8.42        8.08     8.17     8.17         10                 10.4      yellowish                     2
3                     Costa Rica               1      22 kg   8.08    8.17        8.17     8.25     8.08         10                 11.8          green                     0
4                       Colombia               2      24 kg   8.33    8.33        8.08     8.25     7.92         10                 11.6   yellow-green                     2
5                      Guatemala               5      30 kg   8.33    8.33        8.25     7.83     8.17         10                 10.7          green                     2
6                         Taiwan               1      27 kg   8.33    8.17        8.08     8.00     8.25         10                  9.1          green                     0
7                         Taiwan               1      90 kg   8.25    8.25        8.17     8.00     8.08         10                 10.0   yellow green                     1
8                         Taiwan               1      30 kg   8.08    8.08        8.25     8.08     8.00         10                 10.8       greenish                     0
9   Tanzania, United Republic Of             320      60 kg   8.08    8.17        8.08     8.17     8.00         10                 11.0       greenish                     0
10                      Ethiopia              10      30 kg   8.08    8.25        8.00     8.08     7.92         10                 11.8       greenish                     1
11                     Guatemala               5      15 kg   8.08    8.00        8.00     7.75     8.17         10                 11.5       brownish                     1
12                        Taiwan               1      60 kg   8.08    8.00        8.08     8.08     8.00         10                 11.9          green                     0
13                      Ethiopia              40      60 kg   7.67    8.17        8.00     8.33     8.00         10                 11.6  yellow- green                     2
14                      Colombia              70      35 kg   8.08    8.00        8.08     7.92     8.00         10                 10.6          green                     0
15                        Taiwan               1      60 kg   8.17    8.08        8.00     7.92     7.92         10                 10.2          green                     0
16                      Ethiopia               8       5 kg   8.17    8.08        7.92     8.17     7.92         10                 11.3          green                     2
17                        Taiwan               5       2 kg   8.00    8.17        8.00     7.92     7.92         10                 10.3   yellow-green                     0
18                        Taiwan               8       1 kg   8.08    8.17        7.75     7.92     8.00         10                 11.0       brownish                     1
19  Tanzania, United Republic Of             200      30 kg   8.17    8.00        7.92     7.92     7.75         10                 10.0       greenish                     0
20                     Guatemala               8      30 kg   8.00    7.92        8.08     7.92     8.00         10                 11.6      yellowish                     0
21                        Taiwan               1      20 kg   8.08    8.00        7.92     7.92     7.83         10                 10.4          green                     0
22                      Thailand               2       1 kg   7.67    8.00        7.83     8.00     8.00         10                  9.8  browish-green                     5
23                      Colombia               6       5 kg   8.08    8.00        7.83     8.17     7.83         10                 11.3       brownish                     2
24                        Taiwan               4      50 kg   7.83    8.00        7.92     8.00     7.92         10                 10.6   bluish-green                     0
25                        Brazil              25      60 kg   7.83    8.08        7.83     7.92     7.83         10                 11.3          green                     3
26                        Taiwan               1     100 kg   7.92    7.92        8.00     7.92     7.92         10                  9.1          green                     2
27                        Taiwan               1      90 kg   8.17    8.08        7.92     8.00     7.83         10                 10.6          green                     0
28                        Taiwan               1      85 kg   8.00    8.00        8.00     7.92     7.92         10                 10.2     blue-green                     0
29        United States (Hawaii)              80      15 kg   8.00    7.92        8.00     7.83     8.00         10                  9.3          green                     0
30                        Taiwan               3      48 kg   8.00    8.00        7.83     7.83     7.92         10                 11.4   bluish-green                     0
31                        Taiwan               3      50 kg   7.92    8.00        7.83     7.92     7.83         10                 10.8          green                     0
32                        Taiwan               4       5 kg   8.08    8.17        7.67     7.83     7.92         10                 11.3          green                     0
33                      Ethiopia             320      60 kg   7.67    7.83        7.83     8.00     8.00         10                  9.9          green                     3

In [ ]:
#read json file
import pandas as pd
df =pd.read_json('/content/data.js')
print(df)

   SIC  EDS  DT
0   60   50  30
1   60   60  60
2   45   30  40
3   50   50  50
4   45   40  55
5   60   60  60

In [ ]:
import pandas as pd
df =pd.read_json('/content/JSON.js')
print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.5
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.5
37         60    100       120     300.1
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.1
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [ ]:
#head gives first five values by defult
import pandas as pd
df= pd.read_csv('/content/coffee.csv')
print(df.head(3))

  Country of Origin  Number of Bags Bag Weight  Aroma  Flavor  Aftertaste  \
0          Colombia               1      35 kg   8.58    8.50        8.42
1            Taiwan               1      80 kg   8.50    8.50        7.92
2              Laos              19      25 kg   8.33    8.42        8.08

   Acidity  Balance  Sweetness  Moisture Percentage       Color  \
0     8.58     8.42         10                 11.8       green
1     8.00     8.25         10                 10.5  blue-green
2     8.17     8.17         10                 10.4   yellowish

   Category Two Defects
0                     3
1                     0
2                     2

In [ ]:
#tail gives last five values by default
import pandas as pd
df= pd.read_csv('/content/coffee.csv')
print(df.tail(4))

   Country of Origin  Number of Bags Bag Weight  Aroma  Flavor  Aftertaste  \
30            Taiwan               3      48 kg   8.00    8.00        7.83
31            Taiwan               3      50 kg   7.92    8.00        7.83
32            Taiwan               4       5 kg   8.08    8.17        7.67
33          Ethiopia             320      60 kg   7.67    7.83        7.83

    Acidity  Balance  Sweetness  Moisture Percentage         Color  \
30     7.83     7.92         10                 11.4  bluish-green
31     7.92     7.83         10                 10.8         green
32     7.83     7.92         10                 11.3         green
33     8.00     8.00         10                  9.9         green

    Category Two Defects
30                     0
31                     0
32                     0
33                     3

In [ ]:
#head & tail in json file
import pandas as pd
df =pd.read_json('/content/data.js')
print(df.head(3))
print(df.tail(2))

   SIC  EDS  DT
0   60   50  30
1   60   60  60
2   45   30  40
   SIC  EDS  DT
4   45   40  55
5   60   60  60

In [ ]:
all_data=pd.read_csv('/content/alldata.csv')
print(all_data)

    Order ID                     Product  Quantity Ordered  Price Each  \
0   176559.0  Bose SoundSport Headphones               1.0       99.99
1   176560.0                Google Phone               1.0      600.00
2   176560.0            Wired Headphones               1.0       11.99
3   176561.0            Wired Headphones               1.0       11.99
4   176562.0        USB-C Charging Cable               1.0       11.95
..       ...                         ...               ...         ...
64  259329.0    Lightning Charging Cable               1.0       14.95
65  259330.0       AA Batteries (4-pack)               2.0        3.84
66  259331.0    Apple Airpods Headphones               1.0      150.00
67  259332.0    Apple Airpods Headphones               1.0      150.00
68  259333.0  Bose SoundSport Headphones               1.0       99.99

          Order Date                        Purchase Address
0   04-07-2019 22:30       682 Chestnut St, Boston, MA 02215
1   04-12-2019 14:38    669 Spruce St, Los Angeles, CA 90001
2   04-12-2019 14:38    669 Spruce St, Los Angeles, CA 90001
3      05/30/19 9:27       333 8th St, Los Angeles, CA 90001
4     04/29/19 13:03  381 Wilson St, San Francisco, CA 94016
..               ...                                     ...
64  09-05-2019 19:00       480 Lincoln St, Atlanta, GA 30301
65    09/25/19 22:01    763 Washington St, Seattle, WA 98101
66     09/29/19 7:00     770 4th St, New York City, NY 10001
67    09/16/19 19:21          782 Lake St, Atlanta, GA 30301
68    09/19/19 18:03   347 Ridge St, San Francisco, CA 94016

[69 rows x 6 columns]